<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sundehui.dao.HouseDao" >
  <resultMap id="BaseResultMap" type="com.sundehui.domain.House" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="owner" property="owner" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="area_size" property="areaSize" jdbcType="DOUBLE" />
    <result column="serv_life" property="servLife" jdbcType="VARCHAR" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, owner, address, area_size, serv_life, desc
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from house
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from house
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sundehui.domain.House" >
    insert into house (id, owner, address, 
      area_size, serv_life, desc
      )
    values (#{id,jdbcType=INTEGER}, #{owner,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, 
      #{areaSize,jdbcType=DOUBLE}, #{servLife,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.sundehui.domain.House" >
    insert into house
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="owner != null" >
        owner,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="areaSize != null" >
        area_size,
      </if>
      <if test="servLife != null" >
        serv_life,
      </if>
      <if test="desc != null" >
        desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="owner != null" >
        #{owner,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="areaSize != null" >
        #{areaSize,jdbcType=DOUBLE},
      </if>
      <if test="servLife != null" >
        #{servLife,jdbcType=VARCHAR},
      </if>
      <if test="desc != null" >
        #{desc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sundehui.domain.House" >
    update house
    <set >
      <if test="owner != null" >
        owner = #{owner,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="areaSize != null" >
        area_size = #{areaSize,jdbcType=DOUBLE},
      </if>
      <if test="servLife != null" >
        serv_life = #{servLife,jdbcType=VARCHAR},
      </if>
      <if test="desc != null" >
        desc = #{desc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sundehui.domain.House" >
    update house
    set owner = #{owner,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      area_size = #{areaSize,jdbcType=DOUBLE},
      serv_life = #{servLife,jdbcType=VARCHAR},
      desc = #{desc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>