<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sundehui.mapper.OrientationMapper" >
  <resultMap id="BaseResultMap" type="com.sundehui.domain.Orientation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="direction" property="direction" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, direction
  </sql>

  <select id="getAll" resultMap="BaseResultMap">
    select  * from orientation;
  </select>



  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from orientation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from orientation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sundehui.domain.Orientation" >
    insert into orientation (id, direction)
    values (#{id,jdbcType=INTEGER}, #{direction,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sundehui.domain.Orientation" >
    insert into orientation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="direction != null" >
        direction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="direction != null" >
        #{direction,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sundehui.domain.Orientation" >
    update orientation
    <set >
      <if test="direction != null" >
        direction = #{direction,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sundehui.domain.Orientation" >
    update orientation
    set direction = #{direction,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>